{% extends "base.html" %}
{% block waiting %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding: 350px 200px;">
                <div class="row" style="padding: 0px 0px 10px">
                    <div class="col" style="background-color:rgba(0,0,0,0.75);">
                        <p class="text-center" style="color:#fff;margin:16px 0px">Your opponent is looking for the perfect book for you.
                            <br>
                            Please wait for a bit more and then try reloading this page!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}